<launch>
	<!-- Load Airship visual model in Rviz -->
	<arg name="model" default="$(find airship_estimator)/urdf/01-blimp.urdf.xacro"/>
	<arg name="model_2" default="$(find airship_estimator)/urdf/02-blimp.urdf.xacro"/>

	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="robot_description_real" command="$(find xacro)/xacro.py $(arg model_2)" />
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find airship_estimator)/launch/droni.rviz"/>

</launch>