<launch>
	<!-- Use simualtion time -->
	<rosparam param="use_sim_time">true</rosparam>

	<!-- Load Airship visual model in Rviz -->
	<include file="$(find airship_estimator)/launch/load_rviz_visual_model.launch"/>

	<!-- Publish robot joint states -->
	<include file="$(find airship_estimator)/launch/publish_robot_states.launch"/>

	<!-- Play dataset -->
  	<node pkg="rosbag" type="play" name="rosbag_data_set" required="true" args="$(find airship_estimator)/bag_files/data_set.bag"/>


  	<!-- Run estimators -->
	<include file="$(find airship_estimator)/launch/ekf.launch"/>
	<!-- <node pkg="rosbag" type="record" name="record_results" args="record -o $(find airship_estimator)/bag_files/results_ekf -a" /> -->

	<!-- <include file="$(find airship_estimator)/launch/ukf.launch"/>
	<node pkg="rosbag" type="record" name="record_results" args="record -o $(find airship_estimator)/bag_files/results_ukf -a" /> -->

	<!-- <include file="$(find airship_estimator)/launch/lpf.launch"/>
	<node pkg="rosbag" type="record" name="record_results" args="record -o $(find airship_estimator)/bag_files/results_lpf -a"/> -->

</launch>
