<launch> 
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


<node name="joint_state_publisher_reals" pkg="joint_state_publisher" type="joint_state_publisher" >
      <remap from="robot_description" to="robot_description_real" />
      <remap from="joint_states" to="joint_states_real" />
</node>
<node name="robot_state_publisher_real" pkg="robot_state_publisher" type="robot_state_publisher" >
      <remap from="robot_description" to="robot_description_real" />
      <remap from="joint_states" to="joint_states_real" />
</node>
</launch>